<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="savedFgAColor" value="255"/>
		<add key="savedFgRColor" value="255"/>
		<add key="savedFgGColor" value="255"/>
		<add key="savedFgBColor" value="255"/>
	
		<add key="savedBgAColor" value="255"/>
		<add key="savedBgRColor" value="0"/>
		<add key="savedBgGColor" value="0"/>
		<add key="savedBgBColor" value="0"/>

		
	</appSettings>
</configuration>